<div id="Chat">
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><span class="verde-cerebro-fonte">C</span>erebro</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="sass.html">Sass</a>
                    </li>
                    <li>
                        <a href="badges.html">Components</a>
                    </li>
                    <li>
                        <a href="collapsible.html">JavaScript</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="identificacao-div">
        <h4>Digite seu nome de usuário:</h4><br>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input type="text" v-model="dados.usuarioLogado" id="usuario-logado" v-on:keyup.enter="conectar">
                <label for="usuario-logado">Insira seu nome aqui</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect verde-cerebro" v-on:click="conectar">CONFIRMAR</button>
            </div>
        </div>
    </div>
    <div id="chat-wrapper">
        <div class="row row-msgs" v-for="mensagem in mensagens">
            <div class="col s11 offset-s1" v-if="mensagem.msg.usuarioLogado == dados.usuarioLogado">
                <div class="verde-cerebro mensagem-div z-depth-2">
                    <div class="row">
                        <div class="col s10">
                            <span class="mensagem-span">{{mensagem.msg.mensagemDigitada}}</span>
                        </div>
                        <div class="col s2">
                            {{mensagem.hora}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s11" v-else>
                <div class="grey darken-4 mensagem-div z-depth-2">
                    <div class="row">
                        <div class="row">
                            <div class="col s12">
                                <span class="verde-cerebro-fonte">{{mensagem.msg.usuarioLogado}}</span>
                            </div>
                        </div>
                        <div class="col s10">
                            <span class="mensagem-span">{{mensagem.msg.mensagemDigitada}}</span>
                        </div>
                        <div class="col s2">
                            {{mensagem.hora}}
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div style="position:relative; height:77px;">
    <div class="row grey darken-4 row-enviar-msg">
        <div class="input-field col s9">
            <input type="text" id="txt-mensagem" v-model="dados.mensagemDigitada" v-on:keyup.enter="enviarMensagem">
            <label for="txt-mensagem">Digite sua mensagem</label>
        </div>
        <div class="col s1">
            <a class="btn-floating btn-large waves-effect waves-light btn-enviar verde-cerebro" v-on:click="enviarMensagem"><i class="material-icons">send</i></a>
        </div>
    </div>
    </div>
</div>
